[submodule "front"]
	path = front
	url = git@github.com:the-untitled-cloud/the-untitled-cloud-front.git
[submodule "ftp"]
	path = ftp
	url = git@github.com:the-untitled-cloud/the-untitled-cloud-ftp.git
	branch = vsftpd
[submodule "api"]
	path = api
	url = git@github.com:the-untitled-cloud/the-untitled-cloud-api.git
[submodule "webftp"]
	path = web-ftp
	url = git@github.com:the-untitled-cloud/the-untitled-cloud-webftp.git
